/*Global*/
body {
  text-align: center;
  background: #888888;
  align-items: center;
}

header {
  font-family: 'Inconsolata', monospace;
  background: #e0e0e0;
  padding: 12px 68px;
  margin-bottom: 12px;
}

header span {
  color: #f40903;
}

main {
  font-family: 'Open Sans', sans-serif;
  padding: 28px 0;
}

main .container {
  background: #a6a6a6;
}

main a:hover {
  color: #e90606;
}
